@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap')

@import mixins
@import variables

@import 'layout/ClientMenu.sass'
@import 'layout/Flash.sass'
@import 'layout/Footer.sass'
@import 'layout/MainMenu.sass'
@import 'layout/PreFooter.sass'

@import 'pages/Clients.sass'
@import 'pages/Contact.sass'
@import 'pages/Guarantees.sass'
@import 'pages/Home.sass'
@import 'pages/Legal.sass'
@import 'pages/Quotation.sass'
@import 'pages/References.sass'
@import 'pages/Services.sass'
@import 'pages/Whitepaper.sass'


body
  background: $bkgd
  color: $text
  display: flex
  flex-direction: column
  font-family: 'Inter', sans-serif
  margin: 0
  min-height: 100vh

  @media screen and (max-width: $menu-mobile)
    &:before
      content: ''
      display: block
      height: 63px
      width: 100%

  > main
    box-sizing: border-box
    flex: 1


h1
  font-size: 1.15em
  font-weight: 400
  margin: 7vw auto .5em
  text-align: center

h2
  font-size: 3em


article h2
  line-height: 1.2em


p
  font-size: 1.3em
  line-height: 1.5em


ul
  padding-left: 0

  li
    list-style-type: none


a
  color: inherit
  display: inline-block
  font: inherit
  outline: none
  text-decoration: none
  transition-duration: 0.3s

  &.link
    color: $primary

    &:hover
      transform: translateX(8px)


address
  font-style: normal


form
  box-sizing: border-box
  display: flex
  flex-direction: column

  label
    input, textarea, select
      border: solid 2px $text
      box-sizing: border-box
      color: $text
      font-family: inherit
      font-size: 1.1rem
      margin-bottom: 20px
      padding: .75em 1em
      width: 100%

    textarea
      min-height: 150px

  input[type="submit"]
    +button($text, none, #fff, .75em 2.5em)
    align-self: flex-end
    cursor: pointer

    &:hover
      background-color: $primary

  label[for="data"]
    font-size: .8em

    input
      margin: 0
      vertical-align: middle
      width: auto


// Objectifs - Pages Nos servies & Pharmaciens / Labos / Groupement
section
  section a
    color: $primary

  @each $section in advice website community graphics content media animation integration video offers
    &##{$section} h3
      +before-icon
      font-size: 1.3em

      &:before
        content: url(../images/services/#{$section}.svg)

#announce
  background-color: $primary

  a
    +button(transparent, 2px solid #fff, #fff, .5em 1em)
    font-weight: bolder

    &:hover
      +button(#fff, 2px solid $text, #000, .5em 1em)

  p
    color: #fff
    font-size: 1.1em
    text-align: center

  p strong
    text-decoration-line: underline


@media screen and (max-width: $menu-mobile)
  h1
    margin: 3rem auto .5em

  h2
    font-size: 2.2em
