@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,700');

$text: #1C1C1C
$primary: #E73C4D
$bkgd: #fcfcfc

=button($bkgd,$radius,$padding,$border)
  background: $bkgd
  border-radius: $radius
  padding: $padding
  border: $border

  a
    color: $text

address
  font-style: normal

html
  body
    font-family: 'Hind', sans-serif
    background: $bkgd
    color: $text
    margin: 0
    display: flex
    flex-direction: column

    h1
      background: yellow
      font-size: 1em
      font-weight: 300

      &:before 
        content: '[ '

      &:after 
        content: '] '

    h2
      font-size: 2.4em
      margin-top: 0
      margin-bottom: 0

      & + *
        margin-top: 0

    p
      font-size: 1.3em

    ul li a
      text-decoration: none
      font-size: 1.1em

    > nav
      background: red
      order: -1

      & + nav 
        background: grey

    ul
      padding-left: 0

      li
        list-style-type: none

    nav:last-of-type
      ul 
        display: flex

    &#page-pharmacy, &#page-laboratory &#page-group
      main
        width: 50%

        article 
          &:first-child
            background: cadetblue

          &:nth-child(2)
            background: green

          &:last-child
            background: purple

    &#page-about main article:first-of-type, &#page-services main article:last-of-type
      background: #fff
      padding: 4% 6%;
      margin-left: 50%
      position: relative

      &:before
        background-size: cover;
        content: ''
        height: 100%;
        left: -100%
        position: absolute
        top: 0
        width: 100%;
        z-index: -1

    &#page-index
      background: aqua

    &#page-about
      article 
        &:first-child:before
          background: url(../images/bkgd-agency.jpg)

        &:nth-child(2)
          background: green

          dl
            display: flex
            flex-wrap: wrap

            dt,dd
             display: block
             width: 300px
             height: 300px
             background: blue
             margin: 0
            
            dt:hover + dd, dd:hover
              display: block

            dd
              margin-left: -275px
              margin-top: 25px
              margin-right: 25px
              display: none
              background: red
              width: 250px
              height: 250px

        &:last-child
          background: purple

    &#page-guarantees
      z-index: 0

      dl 
        counter-reset: guarantee 
        display: flex
        flex-wrap: wrap
        margin: 30px auto 70px
        max-width: 1024px

        dt, dd
          color: #fff
          display: flex
          flex-direction: column
          height: 335px
          justify-content: center
          margin: 0
          position: relative
          text-align: center
          width: 335px

        dd
          background: lighten($text,8%)
          box-sizing: border-box
          padding: 2%

          &:nth-of-type(2n+1)
            &:after
              left: 0
 
            & + dt
              margin-left: 335px

        dd:hover, dt:hover + dd
          &:nth-of-type(2n+1):after
            transform: translateX(335px)

        dt:hover
          &:nth-of-type(2n):after
            transform: translateX(-335px)

        dt:nth-of-type(2n), dd:nth-of-type(2n+1)
          &:after
            content: ''
            height: 100%
            position: absolute
            top: 0
            transition-duration: 1s
            transition-property: transform
            transition-timing-function: ease
            width: 100%
            z-index: -1

        dt
          background: lighten($text,3%)
          font-weight: 700
          letter-spacing: 0.1em
          text-transform: uppercase

          &:before
            content: "[0" counter(guarantee) "]"
            counter-increment: guarantee
            font-weight: 300

          &:nth-of-type(2n):after
            left: 0

          &#innovate + dd:after
            background: #fff url(../images/guarantees/innovation.svg)no-repeat 50%
            background-size: 40%

          &#visibility:after
            background: #fff url(../images/guarantees/visibility.svg)no-repeat 50%
            background-size: 40%

          &#expertise + dd:after
            background: #fff url(../images/guarantees/expertise.svg)no-repeat 50%
            background-size: 40%

          &#guarantee:after
            background: #fff url(../images/guarantees/guarantee.svg)no-repeat 50%
            background-size: 40%

          &#result + dd:after
            background: #fff url(../images/guarantees/result.svg)no-repeat 50%
            background-size: 40%

          &#accompaniment:after
            background: #fff url(../images/guarantees/accompaniment.svg)no-repeat 50%
            background-size: 40%

              

    &#page-services
      article 
        &:first-child
          background: orange

        &:last-child

          &:before
            background: url(../images/bkgd-targets.jpg)

          ul li
            +button(transparent,50px,15px,2px solid $text)
            display: flex;
            justify-content: center;
            margin-bottom: 20px

          p
            display: flex;
            flex-direction: column;

    &#page-contact
      background: url(../images/bkgd-contact.jpg) 0

      article
        background: #fff
        margin-left: 50%
        padding: 4% 10%;

        dl
          display: flex
          flex-wrap: wrap
          margin-bottom: 50px

          dt,dl,address, ul li a
            font-size: 1.3em

        dt:first-child, dt:first-child + dd
          padding-right: 4%
          width: 50%

        dt:nth-of-type(2),dt:nth-of-type(2) + dd
          width: 23%

        ul
          margin: 0

          li a
            color: $text             

        dd
          margin-left: 0

        dt
          font-weight: 700
          order: -1
          padding-top: 10px

        form
          display: flex
          flex-direction: column

          label
            font-size: 0

            input, textarea
              box-sizing: border-box;
              +button(transparent,0,15px,2px solid $text)
              color: $text
              margin-bottom: 20px
              width: 100%;

            textarea
              min-height: 150px

          input[type="submit"]
            align-self: flex-end
            +button($text,25px,12px,none) 
            color: #fff
            width: 20%

    > aside
      background: url(../images/pourquoi-pas-vous.jpg)100%
      padding: 4%

      h2,p,ul 
        color: #fff
        margin: auto
        text-align: center
        width: 60%

      ul 
        display: flex
        justify-content: center

        li
          +button(white,25px,7px 20px,2px solid #fff)
          margin: 15px 10px;

        li + li
          +button(transparent,25px,7px 20px,2px solid #fff)

          a 
            color: #fff
        
    footer
      background: $text
      color: #fff
      display: flex
      font-weight: 300
      padding: 20px

      a
        color: #fff

      section
        flex: 1

        &:first-child
          padding: 0 3% 0 10%
          position: relative

          &:before
            background: url(../images/logo-footer.svg)no-repeat
            content: ''
            height: 100%
            left: 0
            position: absolute
            width: 22%

        &:last-child
          display: flex
          font-size: 1.15em
          position: relative

          h2
            background: $text
            color: $primary
            left: calc(50% - 76px)
            padding: 3px 10px
            position: absolute
            top: -10px
            z-index: 1

          ul
            align-self: center
            border: 2px solid $primary
            display: flex;
            margin: 0 auto
            padding: 15px 20px
            
            li:first-of-type
              &:after
                content: '-'
                padding: 8px

      h2, ul,address
        font-size: .8em

      h2
        margin-bottom: 0

      ul
        margin-top: 0



