html {
  color: #1c1c1c;
  font-family: 'Hind', sans-serif;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  min-height: 100vh;
}

h1 {
  display: none;
}

h3 {
  align-items: baseline;
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  font-weight: 600;
  margin: .5em 0;
}

h3 a {
  background: #e73c4d;
  color: #fff;
  margin-top: 1em;
  padding: .5em 1em;
  transition: background 300ms;
  width: auto;
}

h3 a:hover {
  background: #F43F51;
}

section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5em;
}

#soon {
  background: url('images/bkg.jpg') no-repeat center;
  background-size: cover;
  color: #fff;
  flex: 1 60%;
  position: relative;
}

#soon h2 {
  font-size: 2.5em;
  margin: 0;
}

#presentation {
  flex: 1 40%;
}

#presentation h2 {
  font-size: 0;
}

#presentation h2:before {
  content: url('images/logo.svg');
  display: block;
  width: 200px;
}

ul {
  list-style: none;
  padding-left: 0;
}

li:first-of-type {
  font-weight: 600;
}

ul a {
  color: #e73c4d;
  transition: color 300ms;
}

ul a:hover {
  color: #F43F51;
}

footer {
  align-self: flex-end;
  color: #909090;
  font-size: 0.8em;
}

#legal {
  border-bottom: 3px solid #e73c4d;
  display: flex;
  align-items: flex-end;
  height: 100vh;
  justify-content: center;
}

#legal h2 {
  flex: 1 100%;
  text-align: center;
}

#legal a {
  align-self: flex-start;
  color: #e73c4d;
  flex: 1 100%;
  text-align: center;
}

#legal a:before {
  content: '←';
  margin-right: .5em;
}

dl {
  align-self: flex-start;
}
