@import url("https://fonts.googleapis.com/css?family=Hind:300,400,500,700");
address {
  font-style: normal; }

form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box; }
  form label {
    font-size: 0; }
    form label input, form label textarea, form label select {
      box-sizing: border-box;
      background: transparent;
      border-radius: 0;
      padding: 15px;
      border: 2px solid #1C1C1C;
      color: #1C1C1C;
      margin-bottom: 20px;
      width: 100%; }
      form label input a, form label textarea a, form label select a {
        color: #1C1C1C; }
    form label textarea {
      min-height: 150px; }
  form input[type="submit"] {
    align-self: flex-end;
    background: #1C1C1C;
    border-radius: 25px;
    padding: 12px;
    border: none;
    color: #fff;
    width: 40%; }
    form input[type="submit"] a {
      color: #1C1C1C; }

html body {
  font-family: 'Hind', sans-serif;
  background: #fcfcfc;
  color: #1C1C1C;
  margin: 0;
  display: flex;
  flex-direction: column; }
  html body h1 {
    background: yellow;
    font-size: 1em;
    font-weight: 300; }
    html body h1:before {
      content: '[ '; }
    html body h1:after {
      content: '] '; }
  html body h2 {
    font-size: 2.4em;
    margin-top: 0;
    margin-bottom: 0; }
    html body h2 + * {
      margin-top: 0; }
  html body p {
    font-size: 1.3em; }
  html body ul li a {
    text-decoration: none;
    font-size: 1.1em; }
  html body > nav {
    background: red;
    order: -1; }
    html body > nav + nav {
      background: grey; }
  html body ul {
    padding-left: 0; }
    html body ul li {
      list-style-type: none; }
  html body nav:last-of-type ul {
    display: flex; }
  html body#page-about article:nth-child(2) h2, html body#page-about article:nth-child(2) h2 + p, html body#page-quotation h2, html body#page-quotation h2 + p,
  html body#page-guarantees article h2,
  html body#page-guarantees article h2 + p,
  html body#page-services article:first-child h2,
  html body#page-services article:first-child h2 + p {
    text-align: center;
    width: 40%;
    margin: auto; }
  html body#page-pharmacy main article:first-child, html body#page-laboratory main article:first-child, html body#page-group main article:first-child {
    background: cadetblue;
    width: 50%; }
  html body#page-pharmacy main article:nth-child(2), html body#page-laboratory main article:nth-child(2), html body#page-group main article:nth-child(2) {
    background: green; }
  html body#page-about main article:first-of-type,
  html body#page-services main article:last-of-type {
    background: #fff;
    padding: 4% 6%;
    margin-left: 50%;
    position: relative; }
    html body#page-about main article:first-of-type:before,
    html body#page-services main article:last-of-type:before {
      background-size: cover;
      content: '';
      height: 100%;
      left: -100%;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1; }
  html body#page-index aside, html body#page-index footer, html body#page-quotation aside, html body#page-quotation footer {
    display: none; }
  html body#page-guarantees article dl,
  html body#page-services article section,
  html body#page-group article:last-child,
  html body#page-pharmacy article:last-child,
  html body#page-laboratory article:last-child {
    max-width: 1024px;
    margin: auto; }
  html body#page-services article:first-child > section,
  html body#page-pharmacy article:last-child > section,
  html body#page-laboratory article:last-child > section,
  html body#page-group article:last-child > section {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70px;
    margin-top: 30px; }
    html body#page-services article:first-child > section section,
    html body#page-pharmacy article:last-child > section section,
    html body#page-laboratory article:last-child > section section,
    html body#page-group article:last-child > section section {
      align-items: center;
      background: #fff;
      box-shadow: 0 0 1px #eaeaea;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      height: 300px;
      line-height: 1.4em;
      justify-content: end;
      padding: 7% 2%;
      text-align: center;
      width: 33.3%; }
      html body#page-services article:first-child > section section h3, html body#page-services article:first-child > section section ul,
      html body#page-pharmacy article:last-child > section section h3,
      html body#page-pharmacy article:last-child > section section ul,
      html body#page-laboratory article:last-child > section section h3,
      html body#page-laboratory article:last-child > section section ul,
      html body#page-group article:last-child > section section h3,
      html body#page-group article:last-child > section section ul {
        margin: 0; }
      html body#page-services article:first-child > section section h3,
      html body#page-pharmacy article:last-child > section section h3,
      html body#page-laboratory article:last-child > section section h3,
      html body#page-group article:last-child > section section h3 {
        letter-spacing: 0.1em;
        text-transform: uppercase; }
        html body#page-services article:first-child > section section h3:before,
        html body#page-pharmacy article:last-child > section section h3:before,
        html body#page-laboratory article:last-child > section section h3:before,
        html body#page-group article:last-child > section section h3:before {
          display: block;
          margin: 0 auto 10px;
          width: 60px; }
      html body#page-services article:first-child > section section ul,
      html body#page-pharmacy article:last-child > section section ul,
      html body#page-laboratory article:last-child > section section ul,
      html body#page-group article:last-child > section section ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; }
        html body#page-services article:first-child > section section ul li:not(:last-child):after,
        html body#page-pharmacy article:last-child > section section ul li:not(:last-child):after,
        html body#page-laboratory article:last-child > section section ul li:not(:last-child):after,
        html body#page-group article:last-child > section section ul li:not(:last-child):after {
          content: ' / '; }
      html body#page-services article:first-child > section section#advice h3:before,
      html body#page-pharmacy article:last-child > section section#advice h3:before,
      html body#page-laboratory article:last-child > section section#advice h3:before,
      html body#page-group article:last-child > section section#advice h3:before {
        content: url(../images/services/advice.svg); }
      html body#page-services article:first-child > section section#website h3:before,
      html body#page-pharmacy article:last-child > section section#website h3:before,
      html body#page-laboratory article:last-child > section section#website h3:before,
      html body#page-group article:last-child > section section#website h3:before {
        content: url(../images/services/website.svg); }
      html body#page-services article:first-child > section section#community h3:before,
      html body#page-pharmacy article:last-child > section section#community h3:before,
      html body#page-laboratory article:last-child > section section#community h3:before,
      html body#page-group article:last-child > section section#community h3:before {
        content: url(../images/services/community.svg); }
      html body#page-services article:first-child > section section#graphics h3:before,
      html body#page-pharmacy article:last-child > section section#graphics h3:before,
      html body#page-laboratory article:last-child > section section#graphics h3:before,
      html body#page-group article:last-child > section section#graphics h3:before {
        content: url(../images/services/graphics.svg); }
      html body#page-services article:first-child > section section#content h3:before,
      html body#page-pharmacy article:last-child > section section#content h3:before,
      html body#page-laboratory article:last-child > section section#content h3:before,
      html body#page-group article:last-child > section section#content h3:before {
        content: url(../images/services/content.svg); }
      html body#page-services article:first-child > section section#media h3:before,
      html body#page-pharmacy article:last-child > section section#media h3:before,
      html body#page-laboratory article:last-child > section section#media h3:before,
      html body#page-group article:last-child > section section#media h3:before {
        content: url(../images/services/media.svg); }
      html body#page-services article:first-child > section section#animation h3:before,
      html body#page-pharmacy article:last-child > section section#animation h3:before,
      html body#page-laboratory article:last-child > section section#animation h3:before,
      html body#page-group article:last-child > section section#animation h3:before {
        content: url(../images/services/animation.svg); }
      html body#page-services article:first-child > section section#integration h3:before,
      html body#page-pharmacy article:last-child > section section#integration h3:before,
      html body#page-laboratory article:last-child > section section#integration h3:before,
      html body#page-group article:last-child > section section#integration h3:before {
        content: url(../images/services/integration.svg); }
      html body#page-services article:first-child > section section#video h3:before,
      html body#page-pharmacy article:last-child > section section#video h3:before,
      html body#page-laboratory article:last-child > section section#video h3:before,
      html body#page-group article:last-child > section section#video h3:before {
        content: url(../images/services/video.svg); }
      html body#page-services article:first-child > section section#offers h3:before,
      html body#page-pharmacy article:last-child > section section#offers h3:before,
      html body#page-laboratory article:last-child > section section#offers h3:before,
      html body#page-group article:last-child > section section#offers h3:before {
        content: url(../images/services/offer.svg); }
  html body#page-index {
    background: aqua; }
  html body#page-about article:first-child:before {
    background: url(../images/bkgd-agency.jpg); }
  html body#page-about article #members {
    display: flex;
    flex-wrap: wrap; }
    html body#page-about article #members > * {
      height: 300px;
      margin: 0;
      width: 300px; }
    html body#page-about article #members section {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: relative; }
      html body#page-about article #members section:after {
        background: rgba(231, 60, 77, 0.6);
        content: '';
        height: 250px;
        left: 25px;
        opacity: 0;
        position: absolute;
        top: 25px;
        transform: scale(0);
        transition: opacity 0.35s, transform 0.35s;
        width: 250px;
        z-index: -1; }
      html body#page-about article #members section h4, html body#page-about article #members section p {
        opacity: 0;
        padding: 0 12%;
        transform: scale(0);
        transition: opacity 0.35s, transform 0.35s;
        color: #fff; }
      html body#page-about article #members section h4 {
        font-size: 1.2em;
        font-weight: 400;
        line-height: 2.2em;
        margin: 0; }
        html body#page-about article #members section h4:after {
          background: #fff;
          content: '';
          display: block;
          height: 2px;
          width: 25px; }
      html body#page-about article #members section p {
        font-size: 1em;
        font-style: italic;
        line-height: 1.2em;
        padding-bottom: 20px; }
      html body#page-about article #members section img {
        left: 0;
        position: absolute;
        top: 0;
        width: 300px;
        z-index: -1; }
      html body#page-about article #members section:hover:after, html body#page-about article #members section:hover h4, html body#page-about article #members section:hover p, html body#page-about article #members section:focus:after, html body#page-about article #members section:focus h4, html body#page-about article #members section:focus p {
        opacity: 1;
        transform: scale(1); }
  html body#page-about article:last-child ul {
    width: 50%;
    margin-left: 50%;
    display: flex;
    flex-wrap: wrap; }
    html body#page-about article:last-child ul li {
      background: #fff;
      height: 300px;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      letter-spacing: 0.1em; }
      html body#page-about article:last-child ul li:nth-child(odd) {
        border-right: 1px solid #f2f2f2;
        box-sizing: border-box; }
      html body#page-about article:last-child ul li:nth-child(n+3) {
        border-top: 1px solid #f2f2f2; }
      html body#page-about article:last-child ul li strong {
        font-size: 2.4em; }
  html body#page-guarantees {
    z-index: 0; }
    html body#page-guarantees dl {
      counter-reset: guarantee;
      display: flex;
      flex-wrap: wrap;
      margin-top: 30px;
      margin-bottom: 70px; }
      html body#page-guarantees dl dt, html body#page-guarantees dl dd {
        color: #fff;
        display: flex;
        flex-direction: column;
        height: 335px;
        justify-content: center;
        margin: 0;
        position: relative;
        text-align: center;
        width: 335px; }
      html body#page-guarantees dl dd {
        background: #303030;
        box-sizing: border-box;
        padding: 2%; }
        html body#page-guarantees dl dd:nth-of-type(2n+1):after {
          left: 0; }
        html body#page-guarantees dl dd:nth-of-type(2n+1) + dt {
          margin-left: 335px; }
      html body#page-guarantees dl dd:hover:nth-of-type(2n+1):after, html body#page-guarantees dl dt:hover + dd:nth-of-type(2n+1):after {
        transform: translateX(335px); }
      html body#page-guarantees dl dt:hover:nth-of-type(2n):after {
        transform: translateX(-335px); }
      html body#page-guarantees dl dt:nth-of-type(2n):after, html body#page-guarantees dl dd:nth-of-type(2n+1):after {
        content: '';
        height: 100%;
        position: absolute;
        top: 0;
        transition-duration: 1s;
        transition-property: transform;
        transition-timing-function: ease;
        width: 100%;
        z-index: -1; }
      html body#page-guarantees dl dt {
        background: #242424;
        font-weight: 700;
        letter-spacing: 0.1em;
        text-transform: uppercase; }
        html body#page-guarantees dl dt:before {
          content: "[0" counter(guarantee) "]";
          counter-increment: guarantee;
          font-weight: 300; }
        html body#page-guarantees dl dt:nth-of-type(2n):after {
          left: 0; }
        html body#page-guarantees dl dt#innovate + dd:after {
          background: #fff url(../images/guarantees/innovation.svg) no-repeat 50%;
          background-size: 40%; }
        html body#page-guarantees dl dt#visibility:after {
          background: #fff url(../images/guarantees/visibility.svg) no-repeat 50%;
          background-size: 40%; }
        html body#page-guarantees dl dt#expertise + dd:after {
          background: #fff url(../images/guarantees/expertise.svg) no-repeat 50%;
          background-size: 40%; }
        html body#page-guarantees dl dt#guarantee:after {
          background: #fff url(../images/guarantees/guarantee.svg) no-repeat 50%;
          background-size: 40%; }
        html body#page-guarantees dl dt#result + dd:after {
          background: #fff url(../images/guarantees/result.svg) no-repeat 50%;
          background-size: 40%; }
        html body#page-guarantees dl dt#accompaniment:after {
          background: #fff url(../images/guarantees/accompaniment.svg) no-repeat 50%;
          background-size: 40%; }
  html body#page-services article:last-child:before {
    background: url(../images/bkgd-targets.jpg); }
  html body#page-services article:last-child ul li {
    background: transparent;
    border-radius: 50px;
    padding: 15px;
    border: 2px solid #1C1C1C;
    display: flex;
    justify-content: center;
    margin-bottom: 20px; }
    html body#page-services article:last-child ul li a {
      color: #1C1C1C; }
  html body#page-services article:last-child p {
    display: flex;
    flex-direction: column; }
  html body#page-contact {
    background: url(../images/bkgd-contact.jpg) 0; }
    html body#page-contact article {
      background: #fff;
      margin-left: 50%;
      padding: 4% 10%; }
      html body#page-contact article dl {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 50px; }
        html body#page-contact article dl dt, html body#page-contact article dl dl, html body#page-contact article dl address, html body#page-contact article dl ul li a {
          font-size: 1.3em; }
      html body#page-contact article dt:first-child, html body#page-contact article dt:first-child + dd {
        padding-right: 4%;
        width: 50%; }
      html body#page-contact article dt:nth-of-type(2), html body#page-contact article dt:nth-of-type(2) + dd {
        width: 23%; }
      html body#page-contact article ul {
        margin: 0; }
        html body#page-contact article ul li a {
          color: #1C1C1C; }
      html body#page-contact article dd {
        margin-left: 0; }
      html body#page-contact article dt {
        font-weight: 700;
        order: -1;
        padding-top: 10px; }
    html body#page-contact aside {
      display: none; }
  html body#page-quotation form {
    width: 50%;
    margin: 0 auto 70px;
    background: #fff;
    padding: 8%;
    border: 1px solid #f4f4f4; }
  html body > aside {
    background: url(../images/pourquoi-pas-vous.jpg) 100%;
    padding: 4%; }
    html body > aside h2, html body > aside p, html body > aside ul {
      color: #fff;
      margin: auto;
      text-align: center;
      width: 60%; }
    html body > aside ul {
      display: flex;
      justify-content: center; }
      html body > aside ul li {
        background: white;
        border-radius: 25px;
        padding: 7px 20px;
        border: 2px solid #fff;
        margin: 15px 10px; }
        html body > aside ul li a {
          color: #1C1C1C; }
      html body > aside ul li + li {
        background: transparent;
        border-radius: 25px;
        padding: 7px 20px;
        border: 2px solid #fff; }
        html body > aside ul li + li a {
          color: #1C1C1C; }
        html body > aside ul li + li a {
          color: #fff; }
  html body footer {
    background: #1C1C1C;
    color: #fff;
    display: flex;
    font-weight: 300;
    padding: 20px; }
    html body footer a {
      color: #fff; }
    html body footer section {
      flex: 1; }
      html body footer section:first-child {
        padding: 0 3% 0 10%;
        position: relative; }
        html body footer section:first-child:before {
          background: url(../images/logo-footer.svg) no-repeat;
          content: '';
          height: 100%;
          left: 0;
          position: absolute;
          width: 22%; }
      html body footer section:last-child {
        display: flex;
        font-size: 1.15em;
        position: relative; }
        html body footer section:last-child h2 {
          background: #1C1C1C;
          color: #E73C4D;
          left: calc(50% - 76px);
          padding: 3px 10px;
          position: absolute;
          top: -10px;
          z-index: 1; }
        html body footer section:last-child ul {
          align-self: center;
          border: 2px solid #E73C4D;
          display: flex;
          margin: 0 auto;
          padding: 15px 20px; }
          html body footer section:last-child ul li:first-of-type:after {
            content: '-';
            padding: 8px; }
    html body footer h2, html body footer ul, html body footer address {
      font-size: .8em; }
    html body footer h2 {
      margin-bottom: 0; }
    html body footer ul {
      margin-top: 0; }

/*# sourceMappingURL=../static/css/style.sass.css.map */