@import url("https://fonts.googleapis.com/css?family=Hind:300,400,500,700");
footer {
  align-items: flex-start;
  background: #1C1C1C;
  color: #fff;
  display: flex;
  font-weight: 300;
  padding: 20px; }
  footer:before {
    content: url(../images/logo-footer.svg);
    display: block;
    width: 7em; }
  footer a:hover {
    transform: translateX(8px); }
  footer section {
    flex: 1;
    margin: 0 4%; }
    footer section#more {
      border: 2px solid #E73C4D;
      display: flex;
      font-size: 1.15em;
      position: relative; }
      footer section#more h2 {
        align-items: center;
        background: #1C1C1C;
        color: #E73C4D;
        display: flex;
        left: 50%;
        margin: 0;
        position: absolute;
        transform: translateX(-50%) translateY(-50%);
        top: -1px;
        z-index: 1;
        width: 100%; }
        footer section#more h2::before, footer section#more h2::after {
          background-color: #E73C4D;
          content: '';
          flex: 1;
          height: 2px; }
        footer section#more h2::before {
          margin-right: 1em; }
        footer section#more h2::after {
          margin-left: 1em; }
      footer section#more ul {
        align-self: center;
        display: flex;
        margin: 0 auto;
        padding: 15px 20px; }
        footer section#more ul:before {
          content: '-';
          margin: 0 1em; }
        footer section#more ul li:first-child {
          order: -1; }
        footer section#more ul li a:hover {
          transform: translateY(-5px); }
  footer h2, footer ul, footer address {
    font-size: .8em; }
  footer ul {
    margin-top: 0; }

nav:first-of-type, nav:first-of-type + nav {
  height: 63px; }
  nav:first-of-type a, nav:first-of-type + nav a {
    color: inherit; }

nav:first-of-type {
  background: #1C1C1C;
  box-sizing: border-box;
  overflow: hidden;
  color: #fff;
  position: fixed;
  top: 0;
  transition: height .35s ease-in-out;
  transition-delay: .15s;
  width: calc(100% / 3);
  z-index: 1; }
  nav:first-of-type:hover {
    height: 100vh; }
  nav:first-of-type ul {
    padding: 0 12%; }
    nav:first-of-type ul li {
      font-size: 1.2em;
      font-weight: 300;
      line-height: 3em; }
      nav:first-of-type ul li:first-of-type {
        margin-top: 40px; }
      nav:first-of-type ul li a {
        display: inline-block;
        letter-spacing: .5px; }
        nav:first-of-type ul li a:hover {
          transform: translateX(8px); }
    nav:first-of-type ul:first-of-type:before {
      content: url(../images/logo.svg);
      display: block;
      width: 7em; }
    nav:first-of-type ul:first-of-type:after {
      content: 'menu';
      position: absolute;
      right: 10%;
      top: 20px;
      text-transform: uppercase; }
    nav:first-of-type ul:last-child li a {
      border-bottom: 2px solid #fff;
      font-weight: 500;
      padding: 0 5px; }

nav:first-of-type + nav {
  background: #fff;
  box-shadow: 0 1px 0 0 #efefef;
  margin-left: calc(100% / 3);
  width: calc((100% / 3) * 2); }
  nav:first-of-type + nav ul {
    display: flex;
    height: 100%;
    margin: 0; }
    nav:first-of-type + nav ul li {
      box-shadow: 1px 0 0 #efefef;
      flex: 1;
      font-size: .8em;
      letter-spacing: 1px;
      text-transform: uppercase;
      transform: perspective(1px) translateZ(0);
      transition: color .3s, background-color .3s; }
      nav:first-of-type + nav ul li a {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center; }
      nav:first-of-type + nav ul li.active {
        background: #E73C4D;
        color: #fff; }
      nav:first-of-type + nav ul li:hover:not(.active) {
        color: #E73C4D; }

body > aside {
  background: url(../images/pourquoi-pas-vous.jpg) 100%;
  color: #fff;
  padding: 3em 4%;
  text-align: center; }
  body > aside h2 {
    line-height: 1;
    margin: 0; }
  body > aside ul li {
    display: inline-block;
    margin: 0 1em 1em; }
    body > aside ul li a {
      background: #fff;
      border: 2px solid #fff;
      border-radius: 2em;
      color: #1C1C1C;
      padding: 0.75em 2em;
      transition-duration: .4s; }
      body > aside ul li a:hover {
        background: #1C1C1C;
        border: 2px solid #1C1C1C;
        border-radius: 2em;
        color: #fff;
        padding: 0.75em 2em;
        transition-duration: .4s; }
  body > aside ul li + li a {
    background: transparent;
    border: 2px solid #fff;
    border-radius: 2em;
    color: #fff;
    padding: 0.75em 2em;
    transition-duration: .4s; }
    body > aside ul li + li a:hover {
      background: transparent;
      border: 2px solid #1C1C1C;
      border-radius: 2em;
      color: #1C1C1C;
      padding: 0.75em 2em;
      transition-duration: .4s; }

h1 {
  display: none; }

h2 {
  font-size: 2.8em; }

article h2 {
  line-height: 1.2em;
  padding-top: 50px; }
  article h2 + * {
    margin-top: 0; }

p {
  font-size: 1.3em; }

ul li a {
  font-size: 1.1em;
  text-decoration: none; }

ul {
  padding-left: 0; }
  ul li {
    list-style-type: none; }

a {
  color: inherit;
  display: inline-block;
  outline: none;
  text-decoration: none;
  transform: translateX(0px);
  transition-duration: 0.3s; }
  a.link {
    color: #E73C4D; }
    a.link:hover {
      transform: translateX(8px); }

address {
  font-style: normal; }

form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column; }
  form label {
    font-size: 0; }
    form label input, form label textarea, form label select {
      box-sizing: border-box;
      background: transparent;
      border: 0;
      border-radius: 2em;
      color: 15px;
      padding: 2px solid #1C1C1C;
      transition-duration: .4s;
      color: #1C1C1C;
      margin-bottom: 20px;
      width: 100%; }
    form label textarea {
      min-height: 150px; }
  form input[type="submit"] {
    align-self: flex-end;
    background: #1C1C1C;
    border: 25px;
    border-radius: 2em;
    color: 15px;
    padding: none;
    transition-duration: .4s;
    color: #fff;
    width: 40%; }
    form input[type="submit"]:hover {
      background-color: #E73C4D; }

html body {
  background: #fcfcfc;
  color: #1C1C1C;
  display: flex;
  flex-direction: column;
  font-family: 'Hind', sans-serif;
  margin: 0; }
  html body#page-index aside, html body#page-index footer, html body#page-quotation aside, html body#page-quotation footer {
    display: none; }
  html body#page-guarantees article dl,
  html body#page-services article section,
  html body#page-group article:last-child,
  html body#page-pharmacy article:last-child,
  html body#page-laboratory article:last-child,
  html body#page-about article:not(:first-child) {
    margin: auto;
    max-width: 1024px; }
  html body#page-about article:nth-child(2) h2, html body#page-about article:nth-child(2) h2 + p, html body#page-quotation h2, html body#page-quotation h2 + p,
  html body#page-guarantees article h2,
  html body#page-guarantees article h2 + p,
  html body#page-services article:first-child h2,
  html body#page-services article:first-child h2 + p,
  html body#page-pharmacy article:not(:first-child) h2,
  html body#page-pharmacy article:not(:first-child) h2 + p,
  html body#page-laboratory article:not(:first-child) h2,
  html body#page-laboratory article:not(:first-child) h2 + p,
  html body#page-group article:not(:first-child) h2,
  html body#page-group article:not(:first-child) h2 + p {
    margin: auto;
    text-align: center;
    width: 40%; }
  html body#page-about article:nth-child(2) h2 + p, html body#page-quotation h2 + p,
  html body#page-guarantees article h2 + p,
  html body#page-services article:first-child h2 + p,
  html body#page-pharmacy article:not(:first-child) h2 + p,
  html body#page-laboratory article:not(:first-child) h2 + p,
  html body#page-group article:not(:first-child) h2 + p {
    padding-bottom: 20px; }
  html body#page-about main article:first-of-type,
  html body#page-services main article:last-of-type {
    background: #fff;
    margin-left: 50%;
    padding: 4% 8%;
    position: relative; }
    html body#page-about main article:first-of-type:before,
    html body#page-services main article:last-of-type:before {
      background-size: cover;
      content: '';
      height: 100%;
      left: -100%;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1; }
  html body#page-services article:first-child > section,
  html body#page-pharmacy article:last-child > section,
  html body#page-laboratory article:last-child > section,
  html body#page-group article:last-child > section {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70px;
    margin-top: 30px; }
    html body#page-services article:first-child > section section,
    html body#page-pharmacy article:last-child > section section,
    html body#page-laboratory article:last-child > section section,
    html body#page-group article:last-child > section section {
      align-items: center;
      background: #fff;
      box-shadow: 0 0 1px #eaeaea;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      height: 300px;
      line-height: 1.4em;
      justify-content: end;
      padding: 7% 2%;
      text-align: center;
      width: 33.3%; }
      html body#page-services article:first-child > section section h3, html body#page-services article:first-child > section section ul,
      html body#page-pharmacy article:last-child > section section h3,
      html body#page-pharmacy article:last-child > section section ul,
      html body#page-laboratory article:last-child > section section h3,
      html body#page-laboratory article:last-child > section section ul,
      html body#page-group article:last-child > section section h3,
      html body#page-group article:last-child > section section ul {
        margin: 0; }
      html body#page-services article:first-child > section section h3,
      html body#page-pharmacy article:last-child > section section h3,
      html body#page-laboratory article:last-child > section section h3,
      html body#page-group article:last-child > section section h3 {
        letter-spacing: 0.1em;
        text-transform: uppercase; }
        html body#page-services article:first-child > section section h3:before,
        html body#page-pharmacy article:last-child > section section h3:before,
        html body#page-laboratory article:last-child > section section h3:before,
        html body#page-group article:last-child > section section h3:before {
          display: block;
          margin: 0 auto 10px;
          width: 60px; }
      html body#page-services article:first-child > section section ul,
      html body#page-pharmacy article:last-child > section section ul,
      html body#page-laboratory article:last-child > section section ul,
      html body#page-group article:last-child > section section ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; }
        html body#page-services article:first-child > section section ul li:not(:last-child):after,
        html body#page-pharmacy article:last-child > section section ul li:not(:last-child):after,
        html body#page-laboratory article:last-child > section section ul li:not(:last-child):after,
        html body#page-group article:last-child > section section ul li:not(:last-child):after {
          content: ' / '; }
      html body#page-services article:first-child > section section#advice h3:before,
      html body#page-pharmacy article:last-child > section section#advice h3:before,
      html body#page-laboratory article:last-child > section section#advice h3:before,
      html body#page-group article:last-child > section section#advice h3:before {
        content: url(../images/services/advice.svg); }
      html body#page-services article:first-child > section section#website h3:before,
      html body#page-pharmacy article:last-child > section section#website h3:before,
      html body#page-laboratory article:last-child > section section#website h3:before,
      html body#page-group article:last-child > section section#website h3:before {
        content: url(../images/services/website.svg); }
      html body#page-services article:first-child > section section#community h3:before,
      html body#page-pharmacy article:last-child > section section#community h3:before,
      html body#page-laboratory article:last-child > section section#community h3:before,
      html body#page-group article:last-child > section section#community h3:before {
        content: url(../images/services/community.svg); }
      html body#page-services article:first-child > section section#graphics h3:before,
      html body#page-pharmacy article:last-child > section section#graphics h3:before,
      html body#page-laboratory article:last-child > section section#graphics h3:before,
      html body#page-group article:last-child > section section#graphics h3:before {
        content: url(../images/services/graphics.svg); }
      html body#page-services article:first-child > section section#content h3:before,
      html body#page-pharmacy article:last-child > section section#content h3:before,
      html body#page-laboratory article:last-child > section section#content h3:before,
      html body#page-group article:last-child > section section#content h3:before {
        content: url(../images/services/content.svg); }
      html body#page-services article:first-child > section section#media h3:before,
      html body#page-pharmacy article:last-child > section section#media h3:before,
      html body#page-laboratory article:last-child > section section#media h3:before,
      html body#page-group article:last-child > section section#media h3:before {
        content: url(../images/services/media.svg); }
      html body#page-services article:first-child > section section#animation h3:before,
      html body#page-pharmacy article:last-child > section section#animation h3:before,
      html body#page-laboratory article:last-child > section section#animation h3:before,
      html body#page-group article:last-child > section section#animation h3:before {
        content: url(../images/services/animation.svg); }
      html body#page-services article:first-child > section section#integration h3:before,
      html body#page-pharmacy article:last-child > section section#integration h3:before,
      html body#page-laboratory article:last-child > section section#integration h3:before,
      html body#page-group article:last-child > section section#integration h3:before {
        content: url(../images/services/integration.svg); }
      html body#page-services article:first-child > section section#video h3:before,
      html body#page-pharmacy article:last-child > section section#video h3:before,
      html body#page-laboratory article:last-child > section section#video h3:before,
      html body#page-group article:last-child > section section#video h3:before {
        content: url(../images/services/video.svg); }
      html body#page-services article:first-child > section section#offers h3:before,
      html body#page-pharmacy article:last-child > section section#offers h3:before,
      html body#page-laboratory article:last-child > section section#offers h3:before,
      html body#page-group article:last-child > section section#offers h3:before {
        content: url(../images/services/offer.svg); }
  html body#page-pharmacy main article:first-child, html body#page-laboratory main article:first-child, html body#page-group main article:first-child {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: calc(100vh - 63px);
    justify-content: center; }
    html body#page-pharmacy main article:first-child > *:not(:last-child), html body#page-laboratory main article:first-child > *:not(:last-child), html body#page-group main article:first-child > *:not(:last-child) {
      box-sizing: border-box;
      padding: 0 8%;
      width: 50%; }
    html body#page-pharmacy main article:first-child ul:first-of-type, html body#page-laboratory main article:first-child ul:first-of-type, html body#page-group main article:first-child ul:first-of-type {
      font-size: 1.3em; }
    html body#page-pharmacy main article:first-child ul:last-of-type, html body#page-laboratory main article:first-child ul:last-of-type, html body#page-group main article:first-child ul:last-of-type {
      background: #fff;
      display: flex;
      text-align: center;
      width: 50%;
      height: calc(100vh - 63px);
      flex-wrap: wrap;
      margin: 0; }
      html body#page-pharmacy main article:first-child ul:last-of-type li, html body#page-laboratory main article:first-child ul:last-of-type li, html body#page-group main article:first-child ul:last-of-type li {
        background: #fff;
        box-shadow: 0 0 1px #e8e8e8;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        height: calc((100vh - 63px) / 3);
        justify-content: center;
        padding: 2%;
        width: 50%; }
        html body#page-pharmacy main article:first-child ul:last-of-type li:before, html body#page-laboratory main article:first-child ul:last-of-type li:before, html body#page-group main article:first-child ul:last-of-type li:before {
          display: block;
          margin: 0 auto 10px;
          width: 22%; }
        html body#page-pharmacy main article:first-child ul:last-of-type li#revenue:before, html body#page-laboratory main article:first-child ul:last-of-type li#revenue:before, html body#page-group main article:first-child ul:last-of-type li#revenue:before {
          content: url(../images/jobs/revenue.svg); }
        html body#page-pharmacy main article:first-child ul:last-of-type li#competition:before, html body#page-laboratory main article:first-child ul:last-of-type li#competition:before, html body#page-group main article:first-child ul:last-of-type li#competition:before {
          content: url(../images/jobs/competition.svg); }
        html body#page-pharmacy main article:first-child ul:last-of-type li#visibility:before, html body#page-laboratory main article:first-child ul:last-of-type li#visibility:before, html body#page-group main article:first-child ul:last-of-type li#visibility:before {
          content: url(../images/jobs/visibility.svg); }
        html body#page-pharmacy main article:first-child ul:last-of-type li#expert:before, html body#page-laboratory main article:first-child ul:last-of-type li#expert:before, html body#page-group main article:first-child ul:last-of-type li#expert:before {
          content: url(../images/jobs/expert.svg); }
        html body#page-pharmacy main article:first-child ul:last-of-type li#information:before, html body#page-laboratory main article:first-child ul:last-of-type li#information:before, html body#page-group main article:first-child ul:last-of-type li#information:before {
          content: url(../images/jobs/information.svg); }
        html body#page-pharmacy main article:first-child ul:last-of-type li#legislation:before, html body#page-laboratory main article:first-child ul:last-of-type li#legislation:before, html body#page-group main article:first-child ul:last-of-type li#legislation:before {
          content: url(../images/jobs/legislation.svg); }
        html body#page-pharmacy main article:first-child ul:last-of-type li#solutions:before, html body#page-laboratory main article:first-child ul:last-of-type li#solutions:before, html body#page-group main article:first-child ul:last-of-type li#solutions:before {
          content: url(../images/jobs/solutions.svg); }
        html body#page-pharmacy main article:first-child ul:last-of-type li#innovation:before, html body#page-laboratory main article:first-child ul:last-of-type li#innovation:before, html body#page-group main article:first-child ul:last-of-type li#innovation:before {
          content: url(../images/jobs/innovation.svg); }
        html body#page-pharmacy main article:first-child ul:last-of-type li#quality:before, html body#page-laboratory main article:first-child ul:last-of-type li#quality:before, html body#page-group main article:first-child ul:last-of-type li#quality:before {
          content: url(../images/jobs/quality.svg); }
        html body#page-pharmacy main article:first-child ul:last-of-type li#duplicable:before, html body#page-laboratory main article:first-child ul:last-of-type li#duplicable:before, html body#page-group main article:first-child ul:last-of-type li#duplicable:before {
          content: url(../images/jobs/duplicable.svg); }
        html body#page-pharmacy main article:first-child ul:last-of-type li#image:before, html body#page-laboratory main article:first-child ul:last-of-type li#image:before, html body#page-group main article:first-child ul:last-of-type li#image:before {
          content: url(../images/jobs/image.svg); }
        html body#page-pharmacy main article:first-child ul:last-of-type li#notoriety:before, html body#page-laboratory main article:first-child ul:last-of-type li#notoriety:before, html body#page-group main article:first-child ul:last-of-type li#notoriety:before {
          content: url(../images/jobs/notoriety.svg); }
        html body#page-pharmacy main article:first-child ul:last-of-type li#share:before, html body#page-laboratory main article:first-child ul:last-of-type li#share:before, html body#page-group main article:first-child ul:last-of-type li#share:before {
          content: url(../images/jobs/share.svg); }
        html body#page-pharmacy main article:first-child ul:last-of-type li#collect:before, html body#page-laboratory main article:first-child ul:last-of-type li#collect:before, html body#page-group main article:first-child ul:last-of-type li#collect:before {
          content: url(../images/jobs/collect.svg); }
        html body#page-pharmacy main article:first-child ul:last-of-type li#offers:before, html body#page-laboratory main article:first-child ul:last-of-type li#offers:before, html body#page-group main article:first-child ul:last-of-type li#offers:before {
          content: url(../images/jobs/offers.svg); }
        html body#page-pharmacy main article:first-child ul:last-of-type li#reference:before, html body#page-laboratory main article:first-child ul:last-of-type li#reference:before, html body#page-group main article:first-child ul:last-of-type li#reference:before {
          content: url(../images/jobs/reference.svg); }
  html body#page-pharmacy main article:nth-child(2), html body#page-laboratory main article:nth-child(2), html body#page-group main article:nth-child(2) {
    background: green; }
  html body#page-index main {
    background: url(../images/bkgd-index.jpg);
    background-position: 100%;
    height: calc(100vh - 63px);
    display: flex; }
    html body#page-index main article {
      color: #fff;
      margin: auto;
      text-align: center; }
      html body#page-index main article::before {
        content: url(../images/logo.svg);
        display: block;
        margin: 0 auto;
        max-width: 15em; }
      html body#page-index main article h2 {
        font-size: 3.5em;
        padding: 1em 0; }
      html body#page-index main article a {
        background: #E73C4D;
        border: 50px;
        border-radius: 2em;
        color: 0.75em 2em;
        padding: none;
        transition-duration: .4s;
        color: #fff;
        text-decoration: none; }
        html body#page-index main article a:hover {
          background-color: #1C1C1C; }
  html body#page-about article:first-child:before {
    background: url(../images/bkgd-agency.jpg); }
  html body#page-about article #members {
    display: flex;
    flex-wrap: wrap; }
    html body#page-about article #members > * {
      height: 250px;
      margin: 0;
      width: 250px; }
    html body#page-about article #members section {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: relative; }
      html body#page-about article #members section:first-of-type {
        margin-left: 500px; }
      html body#page-about article #members section:after {
        background: rgba(231, 60, 77, 0.6);
        content: '';
        height: 200px;
        left: 25px;
        opacity: 0;
        position: absolute;
        top: 25px;
        transform: scale(0);
        transition: opacity 0.35s, transform 0.35s;
        width: 200px;
        z-index: -1; }
      html body#page-about article #members section h4, html body#page-about article #members section p {
        color: #fff;
        opacity: 0;
        padding: 0 12%;
        transform: scale(0);
        transition: opacity 0.35s, transform 0.35s; }
      html body#page-about article #members section h4 {
        font-size: 1.2em;
        font-weight: 400;
        line-height: 2.2em;
        margin: 0; }
        html body#page-about article #members section h4:after {
          background: #fff;
          content: '';
          display: block;
          height: 2px;
          width: 25px; }
      html body#page-about article #members section p {
        font-size: 1em;
        font-style: italic;
        line-height: 1.2em;
        padding-bottom: 20px; }
      html body#page-about article #members section img {
        left: 0;
        position: absolute;
        top: 0;
        width: 250px;
        z-index: -1; }
      html body#page-about article #members section:hover:after, html body#page-about article #members section:hover h4, html body#page-about article #members section:hover p, html body#page-about article #members section:focus:after, html body#page-about article #members section:focus h4, html body#page-about article #members section:focus p {
        opacity: 1;
        transform: scale(1); }
  html body#page-about article:last-child {
    display: table;
    margin: 50px auto 70px; }
    html body#page-about article:last-child > *:not(:last-child) {
      padding: 0 10%;
      text-align: end; }
    html body#page-about article:last-child ul {
      display: table-cell;
      width: 50%; }
      html body#page-about article:last-child ul li {
        align-items: center;
        background: #fff;
        display: inline-table;
        display: inline-flex;
        flex-direction: column;
        height: 250px;
        justify-content: center;
        letter-spacing: 0.1em;
        margin-left: -3px;
        text-transform: uppercase;
        width: 50%; }
        html body#page-about article:last-child ul li:nth-child(odd) {
          border-right: 1px solid #f2f2f2;
          box-sizing: border-box; }
        html body#page-about article:last-child ul li:nth-child(n+3) {
          border-top: 1px solid #f2f2f2; }
        html body#page-about article:last-child ul li strong {
          font-size: 2.4em; }
  html body#page-guarantees {
    z-index: 0; }
    html body#page-guarantees article h2 {
      padding-bottom: 20px; }
    html body#page-guarantees article dl {
      counter-reset: guarantee;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 70px; }
      html body#page-guarantees article dl dt, html body#page-guarantees article dl dd {
        color: #fff;
        display: flex;
        flex-direction: column;
        height: 340px;
        justify-content: center;
        margin: 0;
        position: relative;
        text-align: center;
        width: 340px; }
      html body#page-guarantees article dl dd {
        background: #303030;
        box-sizing: border-box;
        padding: 2%; }
        html body#page-guarantees article dl dd:nth-of-type(2n+1):after {
          left: 0; }
        html body#page-guarantees article dl dd:nth-of-type(2n+1) + dt {
          margin-left: 340px; }
      html body#page-guarantees article dl dd:hover:nth-of-type(2n+1):after, html body#page-guarantees article dl dt:hover + dd:nth-of-type(2n+1):after {
        transform: translateX(340px); }
      html body#page-guarantees article dl dt:hover:nth-of-type(2n):after {
        transform: translateX(-340px); }
      html body#page-guarantees article dl dt:nth-of-type(2n):after, html body#page-guarantees article dl dd:nth-of-type(2n+1):after {
        content: '';
        height: 100%;
        position: absolute;
        top: 0;
        transition-duration: 1s;
        transition-property: transform;
        transition-timing-function: ease;
        width: 100%;
        z-index: -1; }
      html body#page-guarantees article dl dt {
        background: #242424;
        font-weight: 700;
        letter-spacing: 0.1em;
        text-transform: uppercase; }
        html body#page-guarantees article dl dt:before {
          content: "[0" counter(guarantee) "]";
          counter-increment: guarantee;
          font-weight: 300; }
        html body#page-guarantees article dl dt:nth-of-type(2n):after {
          left: 0; }
        html body#page-guarantees article dl dt#innovate + dd:after {
          background: #fff url(../images/guarantees/innovation.svg) no-repeat 50%;
          background-size: 40%; }
        html body#page-guarantees article dl dt#visibility:after {
          background: #fff url(../images/guarantees/visibility.svg) no-repeat 50%;
          background-size: 40%; }
        html body#page-guarantees article dl dt#expertise + dd:after {
          background: #fff url(../images/guarantees/expertise.svg) no-repeat 50%;
          background-size: 40%; }
        html body#page-guarantees article dl dt#guarantee:after {
          background: #fff url(../images/guarantees/guarantee.svg) no-repeat 50%;
          background-size: 40%; }
        html body#page-guarantees article dl dt#result + dd:after {
          background: #fff url(../images/guarantees/result.svg) no-repeat 50%;
          background-size: 40%; }
        html body#page-guarantees article dl dt#accompaniment:after {
          background: #fff url(../images/guarantees/accompaniment.svg) no-repeat 50%;
          background-size: 40%; }
  html body#page-services article:last-child:before {
    background: url(../images/bkgd-targets.jpg); }
  html body#page-services article:last-child ul li {
    background: transparent;
    border: 50px;
    border-radius: 2em;
    color: 15px;
    padding: 2px solid #1C1C1C;
    transition-duration: .4s;
    display: flex;
    justify-content: center;
    margin-bottom: 20px; }
    html body#page-services article:last-child ul li:hover {
      background: #1C1C1C;
      border: 50px;
      border-radius: 2em;
      color: 15px;
      padding: 2px solid #1C1C1C;
      transition-duration: .4s; }
      html body#page-services article:last-child ul li:hover a {
        color: #fff; }
  html body#page-services article:last-child p {
    display: flex;
    flex-direction: column; }
  html body#page-contact {
    background: url(../images/bkgd-contact.jpg) 0; }
    html body#page-contact article {
      background: #fff;
      margin-left: 50%;
      padding: 4% 8%; }
      html body#page-contact article dl {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 50px; }
        html body#page-contact article dl dt, html body#page-contact article dl dl, html body#page-contact article dl address, html body#page-contact article dl ul li a {
          font-size: 1.3em; }
      html body#page-contact article dt:first-child, html body#page-contact article dt:first-child + dd {
        padding-right: 4%;
        width: 50%; }
      html body#page-contact article dt:nth-of-type(2), html body#page-contact article dt:nth-of-type(2) + dd {
        width: 23%; }
      html body#page-contact article ul {
        margin: 0; }
        html body#page-contact article ul li a {
          color: #1C1C1C; }
          html body#page-contact article ul li a:hover {
            transform: translateX(8px); }
      html body#page-contact article dd {
        margin-left: 0; }
      html body#page-contact article dt {
        font-weight: 700;
        order: -1;
        padding-top: 10px; }
    html body#page-contact aside {
      display: none; }
  html body#page-quotation form {
    border: 1px solid #f4f4f4;
    background: #fff;
    margin: 0 auto 70px;
    padding: 8%;
    width: 50%; }

/*# sourceMappingURL=../static/css/style.sass.css.map */