#page-index
  h1, aside,footer
    display: none

  main
    display: flex

    article
      margin: auto
      text-align: center

      &::before
        display: block
        margin: 0 auto
        max-width: 60vw
        width: 15em


      h2
        font-size: 3.5em

      a
        +button($primary, 0, #fff, .5em 2em)
        text-decoration: none

        &:hover
          background-color: $text


  @media screen and (min-width: $menu-mobile + 1px)
    main
      background: url(../images/bkgd-index.jpg) center / cover no-repeat

      article
        color: #fff

        &::before
          content: url(../images/logo.svg)


  @media screen and (max-width: $menu-mobile)
    main
      article
        h2
          font-size: 2em
