#page-legal
  aside
    display: none

  article
    +centered-article
    text-align: center
    margin-bottom: 6em

    > p
      font-size: 1.2em
      max-width: none

    h2
      margin: 1em 0

  h3
    font-size: 1.7em
    font-weight: 500

  dt
    font-size: 1.3em
    font-weight: 700
    padding-top: 10px

  dd
    font-size: 1.1em
    margin-left: 0
