#page-services
  article:first-of-type
    +target-section

  article:last-of-type
    +big-left-img(bkgd-targets, 50%)
    background-origin: border-box
    margin-top: 6rem

    ul
      margin: 0 0 3em

      li a
        +button(transparent, 2px solid $text, $text, .75em 1em)
        display: block
        margin: 1em auto
        max-width: 25em
        text-align: center

        &:hover
          +button($text, 2px solid $text, #fff, .75em 1em)
