<!DOCTYPE html>

<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Kozea media - Agence e-marketing dédiée exclusivement aux professionnels de santé" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <title>Kozea media - Agence e-marketing dédiée exclusivement aux professionnels de santé</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.sass.css') }}" />
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="{{ url_for('page', page='index') }}">Accueil</a></li>
        <li><a href="{{ url_for('page', page='about') }}">À propos</a></li>
        <li><a href="{{ url_for('page', page='guarantees') }}">Nos garanties</a></li>
        <li><a href="{{ url_for('page', page='services') }}">Nos services</a></li>
        <li><a href="{{ url_for('page', page='references') }}">Références</a></li>
        <li><a href="{{ url_for('page', page='contact') }}">Contact</a></li>
      </ul>
      <ul>
        <li><a href="tel:+33427118397">+33 4 27 11 83 97</a></li>
        <li><a href="mailto:media@kozea.fr">media@kozea.fr</a></li>
      </ul>
    </nav>

    <nav>
      <ul>
        <li {{ 'class="active"' if page == 'pharmacy' }}><a href="{{ url_for('page', page='pharmacy') }}">Je suis un pharmacien</a></li>
        <li {{ 'class="active"' if page == 'laboratory' }}><a href="{{ url_for('page', page='laboratory') }}">Je suis un laboratoire</a></li>
        <li {{ 'class="active"' if page == 'group' }}><a href="{{ url_for('page', page='group') }}">Je suis un groupement</a></li>
      </ul>
    </nav>

    <main id="page-{{ page }}">
      {% block content %}{% endblock content %}
    </main>

    <footer>
      <section id="address">
        <h2>Adresse</h2>
        <address>107 boulevard de Stalingrad
69100
Villeurbanne</address>
      </section>

      <section id="contact">
        <h2>Contact</h2>
        <ul>
          <li><a href="tel:+33427118397">+33 4 27 11 83 97</a></li>
          <li><a href="mailto:media@kozea.fr">media@kozea.fr</a></li>
        </ul>
      </section>

      <section id="credits">
        <h2>Crédits</h2>
        <ul>
          <li><a href="{{ url_for('page', page='legal') }}">Mentions légales</a></li>
          <li>Made by <a href="https://www.kozea.fr/">Kozea Group</a></li>
        </ul>
      </section>

      <section id="more">
        <h2>Plus d'informations ?</h2>
        <ul>
          <li><a href="tel:+33427118397">+33 4 27 11 83 97</a></li>
          <li><a href="mailto:media@kozea.fr">media@kozea.fr</a></li>
        </ul>
      </section>
    </footer>
  </body>
</html>
