{% extends "_layout.jinja2" %}

{% block content %}
  <article>
    <h2>L'agence</h2>
    <p>
      Kozea Media est une agence e-marketing qui conseille depuis 10 ans les
      différents acteurs de santé dans leur transformation digitale.
    </p>
    <p>
      Elle est créée par un pharmacien et animée par des experts en marketing
      digital.
    </p>
    <p>
      Du <em>social media</em> (<em>community management</em>) à la publicité
      on line, Kozea Media vous propose des services sur mesure pour réussir
      une campagne de communication avec succès.
    </p>
    <p>
      Kozea Media accompagne les professionnels de santé pour développer une
      stratégie digitale performante tout en respectant les contraintes définies par
      ce secteur. Spécialiste reconnu sur le secteur de la E-santé, nous mettons tous
      les moyens en oeuvre pour assurer le retour sur investissement de vos actions
      de communication.
    </p>
    <p>
      Kozea Media est un service de <a href="https://www.kozea.fr/">Kozea
      Group</a>.
    </p>
  </article>
  <article>
    <h2>L'équipe</h2>
    <p>
      Kozea Media s'appuie sur les équipes du groupe Kozea pour réaliser tous
      vos projets.
    </p>
    <dl>
      <dt id="philippe">Philippe Donadieu</dt>
      <dd>Directeur, docteur en pharmacie</dd>
      <dt id="guillaume">Guillaume Ayoub</dt>
      <dd>Responsable technique</dd>
      <dt id="olivia">Olivia</dt>
      <dd><em>Business developer</em></dd>
      <dt id="laurene">Laurène</dt>
      <dd><em>Community manager</em></dd>
      <dt id="pauline">Pauline</dt>
      <dd><em>Web designer</em></dd>
    </dl>
  </article>
  <article>
    <h2>Aujourd'hui ?</h2>
    <ul>
      <li id="clients">2300 pharmacies clientes</li>
      <li id="users">68 000 utilisateurs par mois</li>
      <li id="pages">200 000 pages vues par mois</li>
      <li id="revenue">4,5 millions de chiffre d'affaires</li>
    </ul>
  </article>
{% endblock content %}
