{% extends "_layout.jinja2" %}

{% block content %}
  <article>
    <h2>Tous connectés !</h2>
    <ul>
      <li>
        <strong>75 %</strong> des consommateurs sont incités à se rendre en
        point de vente après avoir vu une offre promotionnelle sur Facebook.
      </li>
      <li>
        <strong>93 %</strong> des consommateurs souhaitent obtenir sur internet
        les prix ou les promotions des produits de parapharmacie de leur
        pharmacien.
      </li>
    </ul>
    <p><strong>Et vous, où en êtes-vous ?</strong></p>
    <aside>
      Enquête « Web to Store » réalisée par Mappy auprès de 4666 personnes,
      juillet 2017.
    </aside>
    <ul>
      <li id="solutions">Bénéficiez de solutions sur mesure</li>
      <li id="innovation">Soyez reconnu comme un expert digital avec des services innovants</li>
      <li id="legislation">Respectez la législation en vigueur</li>
      <li id="quality">Accédez à des services au meilleur rapport qualité / prix</li>
      <li id="duplicable">Bénéficiez de solutions duplicables à l'ensemble des pharmacies partenaires</li>
      <li id="image">Véhiculez l'image de votre groupement</li>
    </ul>
  </article>
  <article>
    <h2>Comment Kozea media peut-il vous aider à uniformiser vos communications ?</h2>
    {# TODO #}
  </article>
  <article>
    <h2>Vos besoins sont nos objectifs</h2>
    <p>En réponse à vos besoins, Kozea media vous propose les services suivants :</p>
    <section>
      <section id="media">
        <h3>Régie média</h3>
        <ul>
          <li>Gestion d'espaces publicitaires</li>
          <li>Monétisation d'espaces</li>
          <li>Plan média</li>
        </ul>
      </section>
      <section id="advice">
        <h3>Agence conseil</h3>
        <ul>
          <li>Accompagnement personnalisé</li>
          <li>Prestations sur mesure</li>
        </ul>
      </section>
      <section id="website">
        <h3>Création site internet</h3>
        <ul>
          <li>Institutionnel</li>
          <li>Sur mesure</li>
        </ul>
      </section>
      <section id="community">
        <h3>Community management</h3>
        <ul>
          <li>Création</li>
          <li>Animation</li>
          <li>Modération des pages</li>
        </ul>
      </section>
      <section id="graphics">
        <h3>Studio graphique</h3>
        <ul>
          <li>Logos</li>
          <li>Infographies</li>
          <li>Thèmes personnalisés</li>
          <li>Affiches</li>
          <li>Flyers</li>
        </ul>
      </section>
      <section id="content">
        <h3>Création de contenu santé</h3>
        <ul>
          <li>Articles de santé</li>
          <li>Fiches conseil</li>
        </ul>
      </section>
      <section id="animation">
        <h3>Animation commerciale</h3>
        <ul>
          <li>Newsletters auprès de 2300 clients qualifiés</li>
          <li>Création de contenu sur mesure</li>
        </ul>
      </section>
      <section id="offers">
        <h3>Offre sur mesure :</h3>
        <p> parlons-en !</p>
      </section>
    </section>
  </article>
{% endblock content %}
