{% extends "_layout.jinja2" %}

{% block content %}
  <article>
    <h2>Les garanties Kozea media</h2>
    <dl>
      <dt id="innovate">Innovation</dt>
      <dd>
        Boostez votre activité avec des solutions différenciantes. Osez le
        changement et l'innovation.
      </dd>
      <dt id="visibility">Visibilité</dt>
      <dd>
        Améliorez l'accessibilité de vos communications en passant par nos
        solutions digitales.
      </dd>
      <dt id="expertise">Expertise</dt>
      <dd>
        Confiez la digitalisation de votre activité à des experts du marketing
        et de la communication.
      </dd>
      <dt id="guarantee">Garantie expert santé</dt>
      <dd>
        Kozea media s'engage à appliquer et respecter l'ensemble des chartes de
        déontologie applicables aux professionnels de santé.
      </dd>
      <dt id="result">Résultat</dt>
      <dd>
        Développez la rentabilité de vos actions tout en assurant le meilleur
        retour sur investissement possible.
      </dd>
      <dt id="accompaniment">Accompagnement</dt>
      <dd>
        Accompagnez vos projets dans leur réalisation avec rigueur et
        réactivité.
      </dd>
    </dl>
  </article>
{% endblock content %}
