{% extends "_layout.jinja2" %}

{% block content %}
  <article>
    <h2>Tous connectés !</h2>
    <ul>
      <li>
        <strong>90 %</strong> des patients ont déjà reçu un ou plusieurs emails
        d'actualité produit d'un laboratoire du secteur de la santé.
      </li>
      <li>
        <strong>65 %</strong> des Français ont effectué au moins un achat en
        ligne en 2017.
      </li>
      <li>
        <strong>60 %</strong> des Français sont inscrits au moins sur un réseau
        social.
      </li>
    </ul>
    <aside>
      Enquête « Web to Store » réalisée par Mappy auprès de 4666 personnes,
      juillet 2017. Enquête « 2017, les chiffres-clés et usages d'internet et
      des réseaux sociaux, Perspectives communication.
    </aside>
    <ul>
      <li id="notoriety">Renforcez votre notoriété auprès des pharmaciens</li>
      <li id="share">Communiquez sur un lancement de produit</li>
      <li id="legislation">Respectez la législation en vigueur</li>
      <li id="collect">Collectez des prospects pharmaciens de qualité</li>
      <li id="offers">Mettez en avant des offres spéciales</li>
      <li id="reference">Soyez la référence produit auprès des pharmaciens</li>
    </ul>
  </article>
  <article>
    <h2>Si votre problématique est ailleurs, nous savons innover et nous adapter</h2>
    {# TODO #}
  </article>
  <article>
    <h2>Vos besoins sont nos objectifs</h2>
    <p>En réponse à vos besoins, Kozea Media vous propose les services suivants :</p>
    <ul>
      <li id="calls">Campagnes d'appels</li>
      <li id="advice">Conseils et dispositifs personnalisés</li>
      <li id="animation">Animation commerciale (newsletter, création de contenu sur mesure)</li>
      <li id="creation">Studio création</li>
      <li id="website">Site internet</li>
      <li id="media">Régie média</li>
    </ul>
    <p>
      <a href="{{ url_for('page', page='contact') }}">Contactez-nous</a> pour
      un dispositif sur mesure.
    </p>
  </article>
{% endblock content %}
