{% extends "_layout.jinja2" %}

{% block content %}
  <article>
    <h2>Nos références</h2>
    <article>
      <h3>Be Pharma</h3>
      <img src="{{ url_for('static', filename='images/references/bepharma.png') }}" alt="Be Pharma" />
      <p class="subtitle">Groupement</p>
      <p>Community management</p>
    </article>
    <article>
      <h3>Mutualpharmacies</h3>
      <img src="{{ url_for('static', filename='images/references/mutualpharmacies.png') }}" alt="Mutualpharmacie" />
      <p class="subtitle">Groupement</p>
      <p>Contenu (fiches santé)</p>
    </article>
    <article>
      <h3>Mutualpharm</h3>
      <img src="{{ url_for('static', filename='images/references/mutualpharm.png') }}" alt="Mutualpharm" />
      <p class="subtitle">Groupement</p>
      <p>Community management</p>
    </article>
    <article>
      <h3>UPIE</h3>
      <img src="{{ url_for('static', filename='images/references/upie.png') }}" alt="UPIE" />
      <p class="subtitle">Groupement</p>
      <p>Community management</p>
    </article>
    <article>
      <h3>Pharminfo.fr</h3>
      <img src="{{ url_for('static', filename='images/references/pharminfo.svg') }}" alt="Pharminfo.fr" />
      <p>Conseil et suivi du projet de la refonte des 2500 sites clients</p>
    </article>
    <article>
      <h3>Evolupharm</h3>
      <img src="{{ url_for('static', filename='images/references/evolupharm.png') }}" alt="Evolupharm" />
      <p class="subtitle">Laboratoire</p>
      <p>Conseil et suivi de la création du site <a href="https://www.evolupharm-boutique.fr/">www.evolupharm-boutique.fr</a></p>
    </article>
    <article>
      <h3>Pharmacie de Checy</h3>
      <img src="{{ url_for('static', filename='images/references/checy.png') }}" alt="Pharmacie de Checy" />
      <p class="subtitle">Pharmacie</p>
      <p>Community management</p>
    </article>
  </article>
{% endblock content %}
