{% extends "_layout.jinja2" %}

{% block content %}
  <article>
    <h2>Nos prestations à la carte</h2>
    <p>
      Du <em>social media</em> (<em>community management</em>) à la publicité
      en ligne, Kozea media vous propose des services sur mesure pour réussir
      une campagne de communication avec succès.
    </p>
    <section>
      <section id="advice">
        <h3>Agence conseil</h3>
        <ul>
          <li>Accompagnement personnalisé</li>
          <li>Prestations sur mesure</li>
        </ul>
      </section>
      <section id="website">
        <h3>Création site internet</h3>
        <ul>
          <li>Institutionnel</li>
          <li>Sur mesure</li>
        </ul>
      </section>
      <section id="community">
        <h3>Community management</h3>
        <ul>
          <li>Création</li>
          <li>Animation</li>
          <li>Modération des pages</li>
        </ul>
      </section>
      <section id="graphics">
        <h3>Studio graphique</h3>
        <ul>
          <li>Logos</li>
          <li>Infographies</li>
          <li>Thèmes personnalisés</li>
          <li>Affiches</li>
          <li>Flyers</li>
        </ul>
      </section>
      <section id="content">
        <h3>Création de contenu santé</h3>
        <ul>
          <li>Articles de santé</li>
          <li>Fiches conseil</li>
        </ul>
      </section>
      <section id="media">
        <h3>Régie média</h3>
        <ul>
          <li>Gestion d'espaces publicitaires</li>
          <li>Monétisation d'espaces</li>
          <li>Plan média</li>
        </ul>
      </section>
      <section id="animation">
        <h3>Animation commerciale</h3>
        <ul>
          <li>Newsletters auprès de 2300 clients qualifiés</li>
          <li>Création de contenu sur mesure</li>
        </ul>
      </section>
      <section id="integration">
        <h3>Service d'intégration web</h3>
        <ul>
          <li>Intégration de produits</li>
          <li>Promotion</li>
        </ul>
      </section>
      <section id="video">
        <h3>Vidéo</h3>
        <ul>
          <li>Publicitaire</li>
          <li>Explicative</li>
          <li>Événementielle</li>
        </ul>
      </section>
    </section>
  </article>
  <article>
    <h2>Vous êtes ?</h2>
    <ul>
      <li>
        <a href="{{ url_for('page', page='pharmacy') }}">Pharmacien</a>
      </li>
      <li>
        <a href="{{ url_for('page', page='group') }}">Groupement</a>
      </li>
      <li>
        <a href="{{ url_for('page', page='laboratory') }}">Laboratoire</a>
      </li>
    </ul>
    <p>
      <strong>Manque de temps, manque de ressources ?</strong> Confiez-nous
      votre projet, on s'occupe de tout !
    </p>
    <p>
      Nous nous adoptons à votre projet pour établir une prestation unique
      répondant à vos besoins.
    </p>
  </article>
{% endblock content %}
